

    
    <div class="d-flex align-items-center">
        <h1>Add Game</h1>
    </div>
    
    <hr>
    
    <form action="" method="post">
    
    
        <div class="row mt-3">
    
            <div class="col-12">
    
    
                <div class="mb-3">
                    <label for="game_name" class="form-label">Game Name</label>
                    <input type="text" class="form-control" id="game_name" name="gameName" placeholder="Game Name" value="">
                </div>
    
        
    
                <div class="mb-3">
                    <label for="game_volalitiy" class="form-label">Game volalitiy</label>
                    <input type="text" class="form-control" id="game_volalitiy" name="volalitiy" placeholder="Game Volalitiy" value="">
                </div>
    

                <div class="mb-3">
                    <!-- todo: pay table -->
                    <label for="game_volalitiy" class="form-label">Pay Tables</label>
                    <input type="text" class="form-control" id="game_paytable" name="paytable" placeholder="Pay Table" value="">
                </div>
    
                <div class="mb-3" id="game-cards">
                    <label class="form-label">Game Cards</label>
                    <input type="text" class="mb-3 form-control" name="card-1" placeholder="Symbol Name" value="">
                
                </div>
                
                <div class="text-end">
                    <button onclick="generateNewSymbol()" type="button" class="btn btn-link">Add Symbol</button>

                </div>
    
                <div class="mt-4">
                    <button type="submit" class="btn btn-success">Create Game</button>
                </div>
            </div>
    
            
        </div>
    
    </form>
    

    <script>

        function generateNewSymbol() {

            const container = document.getElementById("game-cards")
            const inputCount = document.querySelectorAll("#game-cards input").length
            
            const input = document.createElement("input")
            input.classList.add("mb-3", "form-control")
            input.placeholder = "Symbol Name"
            input.name = `card-${inputCount + 1}`
            input.id = `card-${inputCount + 1}`

            container.appendChild(input)
        }

    </script>